<div class="container">


  <div class="row align-items-center">
    <div class="col-4">
      <h1 class="h1-custom mb-4">Login</h1>
      <span class="align-bottom" style="color:#8499B1">
        Not a member?
        <a routerLink="/register" class="btn btn-outline-primary signup ml-2" role="button">Sign Up</a>
      </span>
    </div>

    <div class="col-8">
      <div class="card mt-5 form-custom">
        <div class="card-body">

          <!-- login form -->
          <form #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)"> 
            <div class="card-text">
              <div class="form-group">
                <!-- email input -->
                <input name="email" [(ngModel)]="user.email" email #email="ngModel" class="form-control mt-3 form-custom" placeholder="Email">
                <div *ngIf="email.errors && loginForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
                  <div *ngIf="email.errors"> 
                    Email is not valid.
                  </div>	
                </div>
                <!-- password input -->
                <input type="password" name="password" required minlength="1" [(ngModel)]="user.password" #password="ngModel" class="form-control mt-3 form-custom" placeholder="Password">
                <div *ngIf="password.errors && loginForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
                  <div *ngIf="password.errors"> 
                    Please enter a password.
                  </div>	
                </div>         
              </div>
              <!-- submit button -->
              <button type="submit" class="btn btn-lg btn-block mt-3 btn-custom">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>