.btn-custom {
    color: white;
    background-color: #292E1E;
}

.h1-custom {
    color: white;
}

.form-custom {
    background-color: #7B6D8D;
}

.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

.signup {
    border-color: #8499B1;
    color: #8499B1;
}

.signup:hover {
    background-color: #292E1E;
    color: white;
    border-color: #292E1E;
}